.benefits {
    height: 732px;
    padding: 80px 0 72px 0;
    position: relative;
    overflow: hidden;
    margin: $sz-btw-block;

    &__list {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        position: relative;

        .t-h5 {
            margin: 0 0 8px 0;
        }

        &:not(:first-child) {
            &::before {
                width: 100%;
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                height: 2px;
                background-color: #c4c4c4;
            }
        }
    }

    &__video {
        right: -224px;
    }
}