.nav {

    display: flex;
    gap: 24px;
    position: relative;
    z-index: 2001;

    &__item {

        padding: 8px 4px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: default;

        svg {
            margin: 0 0 0 4px;
            transition: .2s;
        }

        .dropdown-menu {

            &__label {
                display: flex;
                align-items: center;
            }

            &__list {
                min-width: 170px;
                max-width: 250px;
                display: none;
                position: absolute;
                z-index: 3000;
                top: 40px;
                left: 4px;
                overflow: hidden;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0 4px 12px #00000010;
            }


            &__item {
                padding: 6px 12px;
            }

            &__item:hover {
                background-color: $c-light-blue-97;
            }
        }
    }

    &__item:hover .dropdown-menu__label>svg {
        transform: rotate(90deg);
    }

    &__item.dropdown-menu:hover>.dropdown-menu__list {
        display: block;
    }
}

