.services {
    margin: $sz-btw-block;

    &__container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 48px 32px;

        .service {
            flex: 1 10 350px;
            max-width: 460px;
        }
    }
}