.blog-filter {
    
    &__categories {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: baseline;
    }

    &__list {
        display: flex;
        gap: 24px;

        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .category {
        &.active {
            .t-h5 {
                color: $c-primary;
            }
        }
    }

    .tags__list {
        flex-wrap: wrap;
    }
}

.blog-separator {
    background-color: $c-primary;
}

.articles {
    padding: 56px 0;

    &__container {
        display: flex;
        flex-flow: row wrap;

        gap: 48px 24px;
    }
}