* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $f_secondary;
}

body {
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    border: none;
}

button, input {
    outline: none;
}

svg {
    width: 24px;
    height: 24px;
}