//  ==================== COLORS ==================== 

$c-primary: #0543E2;
$c-accent: #F5AF1F;
$c-dark-blue: #12253D;
$c-light-blue-80: #B4C1E4;
$c-light-blue-97: #F4F6FB;

$c-invalid: #ED1B1B;
$c-inpt-border: #D2D2D2;

$g-v-blue: linear-gradient(0deg, #0543E2 0%, #376EFB 100%);
$g-g-blue: linear-gradient(90deg, #0543E2 0%, #376EFB 100%);
$g-r-dark-blue: radial-gradient(100.65% 4632.85% at 100% 94.52%, #1B3B62 0%, #12253D 100%);

//  ==================== COLORS ==================== 





//  ==================== FONTS ==================== 

$f_primary: "Mustica Pro", "Arial", "Verdana", sans-serif;
$f_secondary: "Manrope", "Arial", "Verdana", sans-serif;

//  ==================== FONST ==================== 





//  ==================== STYLES ==================== 

$s-card: 0px 12px 35px rgba(0, 0, 0, 0.14);
$s-card-2: 0px 6px 40px -3px rgba(0, 0, 0, 0.08);

//  ==================== STYLES ==================== 





//  ==================== SIZES ==================== 

$sz-btw-block: 164px 0;

//  ==================== SIZES ==================== 




//  ==================== SIZES ==================== 

$bp-laptop: 1080px;
$bp-phone: 512px;   

//  ==================== SIZES ==================== 