@import "mixins";                   // Миксины

@import "variables";                // Переменные

@import "reset";                    // Обнуленние стилей

@import "fonts";                    // Подключение шрифтов

@import "typography";               // Текстовые стили

@import "components/components";    // Компоненты

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
}

